.theme-light {
    background-color: #ddf8f9;
    color: #000000;
  }
  
  .theme-dark {
    background-color: #000000;
    color: #ddf8f9;
  }
  
  .navbar-light {
    background-color: #fff;
    color: #333;
  }
  
  .navbar-dark {
    background-color: #333;
    color: #fff;
  }
  
  .navbar-light .toggle-button {
    color: blue;
  }
  
  .navbar-dark .toggle-button {
    color: #fff;
  }
  

  .active {
    background-color: blue;
  }

  .toggle-icon {
    color: blue;
  }
  
  .toggle-icon.active {
    color: #fff;
  }
  

.logo{
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.mainSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#NavBar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.buttons button{
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
    line-height: 2px;
}

#Balans{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 30px;
  border-radius: 8px;
}
  

.logo_balans{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_balans img{
  height: 32px;
  width: 30px;
}

.logo_balans h3{
 margin-left: 12px;
 color: blue;
}



.logo_total{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle{
  padding: 10px;
  background-color: blue;
  color: #fff;
  height: 40px;
  width: 40px;
  line-height: 15px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}

.total{
  margin-left: 10px;
  color: blue;
}

.dropdown-menu{
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 170px;
  align-items: start;
  justify-content: center;
  height: 120px;
  position: absolute;
  top: 175px;
  right: 120px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-item{
  background-color: #fff;
  border: none;
}

.elements {
  display: flex;
}

.check{
  margin-top: 11px;
  margin-left:85px;
  font-size: 18px;
}

.firstSymbol{
  padding: 5px;
  background-color: blue;
  color: #fff;
  height: 10px;
  width: 10px;
  line-height: 10px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  margin: 12px 10px 12px 0px;
}

.labelCurrency{
  margin: 14.5px 0px;
}