.theme-light {
  background-color: #e3e9e9;
  color: #000000;
}

.theme-dark {
  background-color: #000000;
  color: #e3e9e9;
}

.navbar-light {
  background-color: #fff;
  color: #333;
}

.navbar-dark {
  background-color: #333;
  color: #fff;
}

.navbar-light .toggle-button {
  color: blue;
}

.navbar-dark .toggle-button {
  color: #fff;
}

.active {
  background-color: blue;
}

.toggle-icon {
  color: blue;
}

.toggle-icon.active {
  color: #fff;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.mainSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#NavBar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.buttons button {
  padding: 4px 12px;
  border-radius: 4px;
  border: none;
  line-height: 2px;
}

#Balans {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 29px 19px;
  border-radius: 10px;
}

#logo_balans {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo_balans img {
  height: 32px;
  width: 30px;
}

#logo_balans h3 {
  margin-left: 12px;
}

.h3-light {
  color: blue;
}

.total-light {
  color: blue;
}

.logo_total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle {
  padding: 10px;
  background-color: blue;
  color: #fff;
  height: 40px;
  width: 40px;
  line-height: 15px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}

.total {
  margin-left: 10px;
}

#dropdown-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 180px;
  align-items: start;
  justify-content: center;
  height: 120px;
  position: absolute;
  top: 180px;
  right: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dropdown-item {
  border: none;
}

#elements {
  display: flex;
}

.check {
  margin-top: 11px;
  margin-left: 90px;
  font-size: 20px;
}

.firstSymbol {
  padding: 5px;
  background-color: blue;
  color: #fff;
  height: 10px;
  width: 10px;
  line-height: 10px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  margin: 12px 10px 12px 0px;
}

.labelCurrency {
  margin: 14.5px 0px;
}

#mainContainer {
  width: 100%;
  height: 68vh;
  display: flex;
  justify-content: space-around;
}

#leftSide {
  width: 30%;
  height: 100%;
  border-radius: 10px;
}

.label {
  float: left;
  margin: 14px 0px 20px 14px;
  font-size: 18px;
}

#leftSide input {
  padding: 12px;
  border-radius: 5px;
  border: none;
  width: 90%;
  margin: 10px 0px;
  background-color: rgb(232, 234, 236);
}

#leftSide .description {
  padding: 12px;
  border-radius: 5px;
  border: none;
  width: 90%;
  margin: 10px 10px;
  background-color: rgb(232, 234, 236);
  resize: none; /* Optional: Disable textarea resizing */
  display: flex;
  align-items: flex-start;
  height: 100px;
}

#leftSide .description textarea {
  width: 100%;
  height: 100%;
  line-height: normal;
}
#leftSide h2 {
  text-align: start;
  margin-left: 14px;
}

#leftSide button {
  padding: 8px 30px;
  border-radius: 6px;
  width: 47%;
  margin: 25px 6px;
  border: none;
  font-size: 16px;
}

.Income {
  background-color: rgb(12, 218, 5);
  color: #fef1f1;
}

.Expense {
  background-color: rgb(237, 18, 36);
  color: #fef1f1;
}

#leftSide .icon {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  margin-left: 12px;
}

#rightSide {
  width: 65%;
  height: 100%;
  border-radius: 10px;
}

#rightSide h2 {
  text-align: start;
  margin-left: 14px;
}
.decArea {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 14px;
}

.desText {
  margin-left: 16px;
  margin-bottom: 24px;
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
}

.switch.light .slider {
  background-color: #ccc;
}

.switch.dark .slider {
  background-color: #555;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.slider.round span {
  width: 50%;
  height: 100%;
}

.toggle-icon {
  color: #fff;
}

.toggle-icon.active {
  color: #fff;
  width: 50px;
  height: 30px;
  border-radius: 6px;
}

.slider.round span {
  font-size: 20px;
}

@media screen and (max-width: 1350px) {
  #leftSide button {
    width: 43%;
    margin: 25px 4px;
    font-size: 15px;
  }
  #leftSide .description {
    width: 82%;
    margin: 10px 20px;
    height: 100px;
  }

  #leftSide input {
    width:82%;
    margin: 10px 10px;
  }
}

@media screen and (max-width: 1024px) {
  #leftSide button {
    width: 43%;
    margin: 5px 4px 8px 4px; 
    font-size: 15px;
  }
  #leftSide .description {
    width: 81%;
    margin: 8px 15px;
    height: 80px;
  }

  #leftSide input {
    width:81%;
    margin: 7px 5px;
  }
  #mainContainer {
    width:99%;
    height: 62vh;
  }
  .label {
    float: left;
    margin: 8px 0px 12px 16px;
    font-size: 17px;
  }
}

@media screen and (max-width: 912px) {
  #leftSide .description {
    margin: 8px 18px 12px 12px;
  }
  #leftSide button {
    width: 43%;
    margin: 5px 4px 8px 6px; 
    font-size: 12px;
    padding: 4px 25px;
  }
}



@media screen and (max-width:768px) {
  #leftSide .description {
      width: 81%;
      margin: 8px 18px 12px 8px;
      height: 75px;
  }
  #leftSide button {
    width: 42%;
    margin: 0px 8px; 
    font-size: 8px;
  }
}


@media screen and (max-width:720px) {
  #Balans {
    height: 40px;
    padding: 8px;
    margin: 15px 25px;
  }
  #mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
  }
  #leftSide {
    width:91%;
    height: 48%;
  }

  #leftSide .description {
    width: 81%;
    margin: 0px 15px 7px 45px;
    height: 35px;
  }

  #leftSide input {
    width:81%;
    margin: 7px;
    height: 2.5%;
  }

  #leftSide button {
    padding: 5px 20px;
    width: 42%;
    margin: 10px 6px;
    font-size: 10px;
  }
  
  .label {
    float: left;
    margin: 4px 0px 5px 29px;
    font-size: 16px;
  }
  #leftSide h2 {
    margin-left: 28px;
    font-size: 17px;
  }
  #rightSide {
    width: 90%;
    height: 50%;
    margin-top: 10px;
    font-size: 10px;
  }
  #rightSide h2 {
    margin-left: 28px;
    font-size: 17px;
  }
  .decArea {
    margin-left: 25px;
  }
  .decArea p {
    font-size: 14px;
  }
}



@media screen and (max-width:540px) {

  #leftSide {
    width:91%;
    height: 50%;
  }


  #leftSide input {
    width:81%;
    margin: 7px;
    height: 2%;
  }

  #leftSide .description {
    margin: 0px 15px 7px 30px;
    height: 30px;
  }

}

